body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-solid-color-background-beautiful-simple-wind-bannerpsd-image_183026.jpg);
}

button{
    height: 70px;
    width: 260px;
    background-color: #222831;
    font-size: 25px;
    margin-left: 300px;

}