.container{
    background-color: rgb(76, 48, 171);
    height: 1000px;
    width: 1000px;
}

.Button-One{
  background-color: aqua;
  width: 150px;
  height: 20px;
  margin: 10px;
  display: inline-block;

}

@media (min-width: 900px) {
    .container{
        background-color:yellow;
        height: 1000px;
        width: 1000px;

    }
    
}

@media (min-width: 400px) and (max-width: 899px){
    .container{
        background-color: green;
        height: 1000px;
        width: 1000px;

    }
}

@media (min-width: 100px) and (max-width: 399px){
    .container{
        background-color: red;
        height: 1000px;
        width: 1000px;   

    }
    .Button-One{
        background-color: aqua;
        width: 150px;
        height: 20px;
        margin: 10px;
        display: block;

      }
}

