.style-1{
    color: #280274;
    text-align: center;
    
}

.hyperlinktext{
    font: bold;
    text-align: right;
    color: blue;
}

.style-2{
    color: #11009E;
    text-align: center;

}

.style-3{
    text-align: center;
}